<style>
    body{
        width: 980px;
        margin: 0px auto;
    }
    header{
        padding: 0 0 90px auto;
    }
    #logo-header{
        float: left;
        text-decoration: none; 
    }
    
    nav{
        background-color: rgb(135, 115, 135);
        padding-right: 0px;
        height: 30px;
    }
    nav ul li{
        display: inline;
        padding: 0px 5px 5px 10px;
        border-right: 1px solid #fff;
    }    
    nav ul li a{
        color:#FFFFFF;
        text-decoration: none;
    }
    footer{
        position: absolute;
        bottom: 0;
    }
    }
</style> 